@charset "UTF-8";
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}
body{line-height:1}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
nav ul,ul{list-style:none}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:none}
a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent}
ins{background-color:#ff9;color:#000;text-decoration:none}
mark{background-color:#ff9;color:#000;font-style:italic;font-weight:bold}
del{text-decoration:line-through}
abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}
table{border-collapse:collapse;border-spacing:0}
hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}
input,select{vertical-align:middle}
img {
    vertical-align:middle;
}

* {
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
}
:before,
:after {
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
}

/* Common style */
.hide {
    display:none;
}

/* footer */
#footer {
    padding:10px 0;
    background-color:#3fb4b6;
    font-size:11px;
    color:#fff;
    text-align:center;
}

/* header */
.scrollspy {
    overflow:hidden;
    position:fixed;
    top:0;
    right:0;
    left:0;
    z-index:100;
}
.scrollspy .nav {
    width:101%;
    border-bottom:2px solid #40b3b6;
}
.scrollspy .nav:before,
.scrollspy .nav:after {
    display:table;
    content:'';
}
.scrollspy .nav:after {
    clear:both;
}
.scrollspy .nav > li {
    float:left;
    width:33.33%;
}
.scrollspy .nav > li > a {
    display:block;
    height:48px;
    padding-top:2px;
    border-width:0 1px;
    border-style:solid;
    border-color:transparent #060910 transparent #616773;
    background-color:#394251;
    -webkit-box-shadow:inset 0 -2px 0 rgba(0, 0, 0, .5);
    box-shadow:inset 0 -2px 0 rgba(0, 0, 0, .5);
    font-size:15px;
    color:#a4abbb;
    line-height:48px;
    text-align:center;
    text-decoration:none;
}
.scrollspy .nav > li:first-child > a {
    border-left:0;
}
.scrollspy .nav > li:last-child > a {
    border-right:0;
}
.scrollspy .nav > .active > a {
    border:0;
    background-color:#3eb4b6;
    -webkit-box-shadow:none;
    box-shadow:none;
    font-weight:bold;
    color:#fff;
}
.scrollspy .nav > .active + li > a {border-left:0;}

/* Main image */
.img-main {
    padding-top:50px;
}

/* Slide */
.swiper-container {
    background-color:#525a63;
}
.swiper-slide {
    padding:0 15px 15px;
    background: #5a606a; /* Old browsers */
    background: -moz-linear-gradient(left,  #5a606a 0%, #7b8189 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,#5a606a), color-stop(100%,#7b8189)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left,  #5a606a 0%,#7b8189 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left,  #5a606a 0%,#7b8189 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left,  #5a606a 0%,#7b8189 100%); /* IE10+ */
    background: linear-gradient(to right,  #5a606a 0%,#7b8189 100%); /* W3C */
}
.swiper-slide img {
    max-width:100%;
    border:5px solid rgba(255, 255, 255, .75);
}
.swiper-pagination-bullet-active {
    background:#3fb4b6;
}
.swiper-container-horizontal>.swiper-pagination {
    bottom:30px;
}
.swiper-pagination-bullet {
    width:10px;
    height:10px;
}
.swiper-container-horizontal>.swiper-pagination .swiper-pagination-bullet {
    margin:0 4px;
}

/* 모시는글 */
.attend-area {
    padding:25px 0 40px;
    background:url(../files/bg-pattern.png) repeat;
    -webkit-background-size:15px auto;
    background-size:15px auto;
}
.attend-area .inner {
    overflow:hidden;
    width:292px;
    height:273px;
    margin:0 auto;
    background:url(../files/img-attend.png) no-repeat;
    -webkit-background-size:292px auto;
    background-size:292px auto;
    text-indent:-9999px;
}

/* 오시는길 */
.access-area {
    padding:25px 0 40px;
}
.access-area .inner {
    overflow:hidden;
    position:relative;
    width:320px;
    height:475px;
    margin:0 auto;
    padding-bottom:109px;
    background:url(../files/img-access.png) no-repeat 50% 0;
    -webkit-background-size:320px auto;
    background-size:320px auto;
    text-indent:-9999px;
}
.access-area .btn-naver-map,
.access-area .btn-kakao {
    overflow:hidden;
    position:absolute;
    left:50%;
    width:160px;
    height:37px;
    margin-left:-80px;
}
.access-area .btn-naver-map {
    bottom:57px;
    border-width:1px;
    border-style:solid;
    border-color:#dedede #bfbfbf #bfbfbf #dedede;
    background-color:#f4f4f4;
    font-size:12px;
    color:#333;
    line-height:37px;
    text-align:center;
    text-indent:0;
    text-decoration:none;
}
.access-area .btn-kakao {
    bottom:0;
    text-indent:0;
}

/* 신랑 신부 소개 */
.couple-intro {
    padding:10px 0 20px;
    background:url(../files/line-pattern.png) repeat-x 50% 0;
    background-size:20px auto;
}
.couple-intro .inner {
    width:198px;
    margin:0 auto;
}
.couple-intro .thumb {
    display:block;
    margin-top:20px;
}
.kakao-link {
    display:block;
    margin-top:20px;
    text-align:center;
}